@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"],
input[type="email"], input[type="number"], input[type="tel"],
select, textarea {
  @apply w-full px-3 py-2 my-1 border rounded-2xl ;
}

textarea {
  height: 140px;
}

button {
  @apply bg-gray-300;
}

button.primary {
  background-color: #F5385D;
  @apply w-full p-2 text-white bg-primary rounded-2xl;
}

button.secondary {
  background-color: #5c6370;
  @apply w-full p-2 text-white bg-secondary rounded-2xl;
}

.btn-small {
  width: auto;
  padding: 0.5rem 1rem;
}